<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand" [routerLink]="['/home/home-carousel']">Galeria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/home/home-carousel']">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['galeria/manter-galeria']">Cadastro</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" id='menu' name="menu">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisa" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisa</button>
            </form>
        </div>
    </nav>
</header>

<br>

<div class="container">    
    <router-outlet></router-outlet>
</div>

<br/>
<br/>
<footer>
    <div class="card">
        <div class="card-header">
            André Silva
        </div>
        <div class="card-body">
            <h5 class="card-title">Mini Projeto Galeria de Imagens - Angular/Node </h5>
        </div>
    </div>
</footer>

